.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-group-list-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  flex-grow: 1;
  border-radius: 10px;
  margin-top: 10px;
}