.group-balances-container {
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 20%;

  position: sticky;
  top: 10vh;
}

.group-balances-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  border-bottom: #ddd solid 1px;
  padding-bottom: 10px;
}

.group-balances-container h3 {
  margin-bottom: 10px;
  color: #444;
}

.payment-summary-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.summary-item {
  font-weight: bold;
  font-size: 0.8rem;
}

.balance-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.balance-item h3 {
  margin-top: 10px;
  color: #555;
  font-size: 1rem;
}

.balance-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.balance-item ul li {
  /* padding: 5px 0; */
  border-bottom: 1px solid #eee;
}

.balance-item ul li:last-child {
  border-bottom: none;
}

.balance-item p {
  font-weight: normal;
  color: #666;
  font-size: 0.8rem;
}

.net-balance.positive {
  font-weight: bold;
  color: green;
}
.net-balance.negative {
  font-weight: bold;
  color: red;
}

.amount {
  font-weight: bold;
}

/* .details-container {} */