.navbar {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(320px, 800px, 1200px);
}

.nav-title {
    font-size: 2rem;
}

.nav-ul {
    list-style: none;
    display: flex;
}

.nav-li {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #484848;
}