.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--padding);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-color, var(--secondary-color));
}