.add-expense-form-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.add-expense-form-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.add-expense-form-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-expense-form-content h2 {
  margin-bottom: 1rem;
}

.add-expense-form-content form > div {
  margin-bottom: 1rem;
  width: 90%;
}

.add-expense-form-content label {
  /* display: block; */
  margin-bottom: 0.5rem;
}

.add-expense-form-content input,
.add-expense-form-content select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  /* border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 4px;
}

.add-expense-form-content form button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.add-expense-form-content form button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.add-expense-form-content form button:hover[type="submit"] {
  background-color: #0056b3;
}

.add-expense-form-content form button[type="button"] {
  background-color: #ccc;
}

.participant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}

.participant-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
