.expense-list-container {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 80%;
}

.expense-list-container h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.expense-list {
  margin: 0px;
  padding: 20px 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 15px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.expense-list li:nth-child(even) {
  background-color: #f1f1f1;
}

.expense-list button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin: 0px 3px;
  width: 80px;
  /* height: 50px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expense-list p {
  text-align: center;
  color: var(--medium-gray);
  font-style: italic;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-container select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.clear-filter-button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-filter-button:hover {
  background-color: var(--secondary-color);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}

.pagination-controls button.active {
  font-weight: bold;
  text-decoration: underline;
}

.settled-container {
  display: flex;
  flex-direction: column;
}

.settled-container p {
  color: var(--medium-gray);
  font-style: italic;
  padding: 0;
  margin: 5px 0;
}