.expense-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.expense-left {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.expense-right {
  flex: 2;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.expense-title {
  font-size: 1em;
  margin: 0;
}

.expense-settled {
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.settled-icon {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.expense-date {
  font-size: 1em;
  color: #888;
  margin: 0;
}

.expense-amount {
  font-size: 1em;
  margin-right: 20px;
}

.expense-participants {
  margin: 0;
  margin-right: 5px;
}

.expense-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.expense-container:hover .expense-actions {
  visibility: visible;
  opacity: 1;
}

.expense-1 {
  display: flex;
}